##### import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

In [13]:
df = pd.read_parquet("C:\\Users\\Tobiloba\\Desktop\\Energy_Load_Profile_Classification-main\\Energy_Load_Profile_Classification-main\\main.parquet")

In [14]:
df = df[['Time','system_kW']]

In [15]:
df['Time'] = pd.to_datetime(df['Time'])

In [16]:
# df['new_date'] = [d.date() for d in df['Time']]
# df['new_time'] = [d.time() for d in df['Time']]

In [17]:
# import pandas as pd

# # Get week number, with pd.DateOffset used to start the week on Sunday
# week_date_values = df["Time"].dt.isocalendar()
# df["week_date"] = (df['Time'] - pd.to_timedelta(df['Time'].dt.dayofweek, unit='d') + pd.DateOffset(days=-1)).dt.strftime("%Y-%m-%d")

# # Combine with "(week n)" values
# df["week_date"] = df["week_date"] + " " + "(week " + week_date_values["week"].astype(str) + ")"
# df

### taking the max, min and mean by hour distance

In [18]:
# data re-sampled based on an hour
df_by_hr_max = df.resample('H', on='Time').system_kW.max()

df_by_hr_max = pd.DataFrame(df_by_hr_max).reset_index()

df_by_hr_max.rename(columns = {'system_kW':'Max_Load'}, inplace = True)

import pandas as pd

# Get week number, with pd.DateOffset used to start the week on Sunday
week_date_values = df_by_hr_max["Time"].dt.isocalendar()
df_by_hr_max["week_date"] = (df_by_hr_max['Time'] - pd.to_timedelta(df_by_hr_max['Time'].dt.dayofweek, unit='d') + pd.DateOffset(days=-1)).dt.strftime("%Y-%m-%d")

# Combine with "(week n)" values
# df_by_hr_max["week_date"] = df_by_hr_max["week_date"] + " " + "(week " + week_date_values["week"].astype(str) + ")"
df_by_hr_max["week_date"] = "week " + week_date_values["week"].astype(str)
df_by_hr_max

# data re-sampled based on an hour
df_by_hr_min = df.resample('H', on='Time').system_kW.min()

df_by_hr_min = pd.DataFrame(df_by_hr_min).reset_index()

df_by_hr_min.rename(columns = {'system_kW':'Min_Load'}, inplace = True)

import pandas as pd

# Get week number, with pd.DateOffset used to start the week on Sunday
week_date_values = df_by_hr_min["Time"].dt.isocalendar()
df_by_hr_min["week_date"] = (df_by_hr_min['Time'] - pd.to_timedelta(df_by_hr_min['Time'].dt.dayofweek, unit='d') + pd.DateOffset(days=-1)).dt.strftime("%Y-%m-%d")

# Combine with "(week n)" values
# df_by_hr_min["week_date"] = df_by_hr_min["week_date"] + " " + "(week " + week_date_values["week"].astype(str) + ")"
df_by_hr_min["week_date"] = "week " + week_date_values["week"].astype(str)
Min_Load = df_by_hr_min.Min_Load.to_list()

# data re-sampled based on an hour
df_by_hr_mean = df.resample('H', on='Time').system_kW.mean()

df_by_hr_mean = pd.DataFrame(df_by_hr_mean).reset_index()

df_by_hr_mean.rename(columns = {'system_kW':'Mean_Load'}, inplace = True)

import pandas as pd

# Get week number, with pd.DateOffset used to start the week on Sunday
week_date_values = df_by_hr_mean["Time"].dt.isocalendar()
df_by_hr_mean["week_date"] = (df_by_hr_mean['Time'] - pd.to_timedelta(df_by_hr_mean['Time'].dt.dayofweek, unit='d') + pd.DateOffset(days=-1)).dt.strftime("%Y-%m-%d")

# Combine with "(week n)" values
# df_by_hr_mean["week_date"] = df_by_hr_mean["week_date"] + " " + "(week " + week_date_values["week"].astype(str) + ")"
df_by_hr_mean["week_date"] = "week " + week_date_values["week"].astype(str)
Mean_Load = df_by_hr_mean.Mean_Load.to_list()

df_max_min_mean = df_by_hr_max.assign(Min_Load=Min_Load,Mean_Load=Mean_Load)

df_hr_max_min_mean = df_max_min_mean[['Time','week_date','Max_Load','Min_Load','Mean_Load']]

df_hr_max_min_mean

                    Time week_date  Max_Load  Min_Load  Mean_Load
0    2022-09-17 12:00:00   week 37    46.666    29.376  37.835000
1    2022-09-17 13:00:00   week 37    51.045    31.066  43.259552
2    2022-09-17 14:00:00   week 37    45.432    35.635  40.673883
3    2022-09-17 15:00:00   week 37    47.489    36.948  43.198733
4    2022-09-17 16:00:00   week 37    59.146    36.043  46.881117
...                  ...       ...       ...       ...        ...
3271 2023-01-31 19:00:00    week 5    87.146    72.626  79.960733
3272 2023-01-31 20:00:00    week 5    82.882    70.813  77.210667
3273 2023-01-31 21:00:00    week 5    76.380    57.502  66.348317
3274 2023-01-31 22:00:00    week 5    62.340    52.269  57.426000
3275 2023-01-31 23:00:00    week 5    64.928    35.253  56.462625

[3276 rows x 5 columns]

### Working Daily

In [19]:
df['new_date'] = [d.date() for d in df['Time']]
df['new_time'] = [d.time() for d in df['Time']]

df

df_day_mean = df.groupby(['new_date']).mean().reset_index()['system_kW'].to_list()
df_day_min = df.groupby(['new_date']).min().reset_index()['system_kW'].to_list()
df_day_max = df.groupby(['new_date']).max().reset_index()['system_kW'].to_list()
df_day_time = df.groupby(['new_date']).max().reset_index()['Time'].to_list()

df_day_mean_min_max = pd.DataFrame(list(zip(df_day_time,df_day_mean, df_day_min,df_day_max)),columns =['Time', 'mean','min','max'])
df_day_mean_min_max


import pandas as pd

# Get week number, with pd.DateOffset used to start the week on Sunday
week_date_values = df_day_mean_min_max["Time"].dt.isocalendar()
df_day_mean_min_max["week_date"] = (df_day_mean_min_max['Time'] - pd.to_timedelta(df_by_hr_mean['Time'].dt.dayofweek, unit='d') + pd.DateOffset(days=-1)).dt.strftime("%Y-%m-%d")

# Combine with "(week n)" values
df_day_mean_min_max["week_date"] = "week " + week_date_values["week"].astype(str)

# 
df_day_mean_min_max['WeekDay'] = df_day_mean_min_max['Time'].dt.day_name()

df_day_mean_min_max

                   Time       mean     min      max week_date    WeekDay
0   2022-09-17 23:59:00  41.253824  29.376   59.146   week 37   Saturday
1   2022-09-18 23:59:00  35.486340  26.687   45.250   week 37     Sunday
2   2022-09-19 23:59:00  70.211466  23.473  118.630   week 38     Monday
3   2022-09-20 23:59:00  66.497159  26.539  105.028   week 38    Tuesday
4   2022-09-21 23:59:00  64.823773  28.533   99.680   week 38  Wednesday
..                  ...        ...     ...      ...       ...        ...
132 2023-01-27 23:59:00  88.126126  32.900  125.024    week 4     Friday
133 2023-01-28 23:59:00  45.978166  26.234   71.426    week 4   Saturday
134 2023-01-29 23:59:00  45.175363  21.996   55.175    week 4     Sunday
135 2023-01-30 23:59:00  85.235522  35.286  130.685    week 5     Monday
136 2023-01-31 23:59:00  86.341999  29.124  126.675    week 5    Tuesday

[137 rows x 6 columns]

In [30]:
df_day_mean_min_max.to_csv('df_day_mean_min_max.csv', index=False)

### FIRST MODEL

In [20]:

df_hr_max_min_mean['hour_of_the_week'] = df_hr_max_min_mean['Time'].dt.dayofweek * 24 + (df_hr_max_min_mean['Time'].dt.hour + 1)

C:\Users\Tobiloba\AppData\Local\Temp\ipykernel_8112\2214451280.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hr_max_min_mean['hour_of_the_week'] = df_hr_max_min_mean['Time'].dt.dayofweek * 24 + (df_hr_max_min_mean['Time'].dt.hour + 1)

In [22]:

df_hr_max_min_mean['WeekDay'] = df_hr_max_min_mean['Time'].dt.day_name()
df_hr_max_min_mean

C:\Users\Tobiloba\AppData\Local\Temp\ipykernel_8112\2593845695.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hr_max_min_mean['WeekDay'] = df_hr_max_min_mean['Time'].dt.day_name()

,Time,week_date,Max_Load,Min_Load,Mean_Load,hour_of_the_week,WeekDay
0,2022-09-17 12:00:00,week 37,46.666,29.376,37.835000,133,Saturday
1,2022-09-17 13:00:00,week 37,51.045,31.066,43.259552,134,Saturday
2,2022-09-17 14:00:00,week 37,45.432,35.635,40.673883,135,Saturday
3,2022-09-17 15:00:00,week 37,47.489,36.948,43.198733,136,Saturday
4,2022-09-17 16:00:00,week 37,59.146,36.043,46.881117,137,Saturday
...,...,...,...,...,...,...,...
3271,2023-01-31 19:00:00,week 5,87.146,72.626,79.960733,44,Tuesday
3272,2023-01-31 20:00:00,week 5,82.882,70.813,77.210667,45,Tuesday
3273,2023-01-31 21:00:00,week 5,76.380,57.502,66.348317,46,Tuesday
3274,2023-01-31 22:00:00,week 5,62.340,52.269,57.426000,47,Tuesday
3275,2023-01-31 23:00:00,week 5,64.928,35.253,56.462625,48,Tuesday

In [24]:
df_hr_max_min_mean[df_hr_max_min_mean['hour_of_the_week']==168]

,Time,week_date,Max_Load,Min_Load,Mean_Load,hour_of_the_week,WeekDay
35,2022-09-18 23:00:00,week 37,39.274,31.712,36.199967,168,Sunday
203,2022-09-25 23:00:00,week 38,39.167,29.281,35.774033,168,Sunday
371,2022-10-02 23:00:00,week 39,38.595,31.384,36.514550,168,Sunday
539,2022-10-09 23:00:00,week 40,39.584,31.090,36.110450,168,Sunday
707,2022-10-16 23:00:00,week 41,44.441,29.083,39.964158,168,Sunday
875,2022-10-23 23:00:00,week 42,39.407,34.477,37.390667,168,Sunday
1043,2022-10-30 23:00:00,week 43,41.596,27.871,36.129404,168,Sunday
1211,2022-11-06 23:00:00,week 44,43.618,37.678,40.274617,168,Sunday
1379,2022-11-13 23:00:00,week 45,46.689,33.851,41.441217,168,Sunday
1547,2022-11-20 23:00:00,week 46,43.742,39.032,42.153094,168,Sunday
1715,2022-11-27 23:00:00,week 47,45.416,37.451,42.469617,168,Sunday
1883,2022-12-04 23:00:00,week 48,41.635,35.198,39.461083,168,Sunday
2051,2022-12-11 23:00:00,week 49,41.202,35.546,36.704000,168,Sunday
2219,2022-12-18 23:00:00,week 50,43.422,38.978,41.103683,168,Sunday
2387,2022-12-25 23:00:00,week 51,40.127,33.486,36.658125,168,Sunday
2555,2023-01-01 23:00:00,week 52,43.161,34.319,37.987250,168,Sunday
2723,2023-01-08 23:00:00,week 1,40.210,37.813,38.814967,168,Sunday
2891,2023-01-15 23:00:00,week 2,37.717,30.638,34.687167,168,Sunday
3059,2023-01-22 23:00:00,week 3,42.122,33.722,39.162117,168,Sunday
3227,2023-01-29 23:00:00,week 4,47.130,40.958,44.611383,168,Sunday

In [26]:
import plotly.express as px